// .block_date
.block_date
  display: flex
  justify-content: space-between
  align-items: center

  .input-group
    background: none

    &:before,
    &:after
      display: none

    .form-select
      background: none
      flex-grow: inherit
      padding: 0

  ._group
    .select2
      display: flex
      justify-content: center
      align-items: center
      padding: .5rem 1rem ! important
      background: $color_main_dark ! important
      border-radius: $border_radius ! important
      margin-right: 1rem
      width: auto ! important

  ._year,
  ._month,
  ._day
    line-height: 1 ! important
    min-width: auto ! important
    width: auto ! important

    .select2-selection__rendered
      color: $color_main ! important

    &:after
      display: none

  ._year
    font-size: 1.8em ! important
    font-weight: 400

  ._month
    font-size: 1.8em ! important
    font-weight: 400

  ._day
    font-size: 2.5rem ! important
    padding: 0 ! important
    font-weight: 600
// .block_date x

// .block_liveliner
.block_liveliner
  ._liveliner_day
    position: relative
    display: flex
    flex-direction: column
    min-height: 35rem
    padding: 1rem 1rem 2rem 2rem
    margin-bottom: .5rem
    box-sizing: border-box
    border-radius: $border_radius
    background: $color_main_dark
    filter: blur(0)
    @include transition_default

    &._loading_
      filter: blur(.1rem)

    ._line_moneys
      position: absolute
      bottom: 1rem
      right: 1rem
      z-index: 1
      font-size: .8em
      font-weight: 300
      opacity: .5

      ._val
        font-weight: 400

    ._line_hours
      position: absolute
      top: 0
      left: 0
      bottom: 0
      display: flex
      justify-content: center
      align-items: center
      transform: rotate(-90deg)
      font-size: .8em
      font-weight: 300
      z-index: 1
      opacity: .5

      ._val
        font-weight: 400

      ._def
        opacity: .5


      ._seporator
        padding: .2rem
        box-sizing: border-box
        opacity: .5

    ._date
      display: flex
      padding: .5rem 0

      ._day
        ._number
        ._button

    ._vals
      position: relative
      display: flex
      flex-direction: column
      height: 35rem
      padding-left: .25rem
      z-index: 1

      ._category
        position: relative
        display: flex
        justify-content: space-between
        // padding: .5rem
        margin-bottom: .4rem
        box-sizing: border-box
        overflow: hidden
        min-height: 2.5rem
        border-radius: $border_radius
        z-index: 1

        ._buttons
          position: absolute
          top: 0
          right: 0
          bottom: 0
          padding: 0
          z-index: 3

          ._button
            font-size: 1.5em
            line-height: 1
            margin-left: 1rem
            color: $color_main
            opacity: .2

        ._content
          position: relative
          display: flex
          align-items: center
          font-size: 1.1em
          line-height: 1.1em
          z-index: 2
          height: 100%
          width: 100%
          @include transition_default

          ._title
            padding-left: 3rem
            padding-right: .5rem
            font-weight: 400

          ._times
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            display: flex
            justify-content: center
            align-items: center
            width: 1rem
            font-size: .7em
            height: 100%
            transform: rotate(-90deg)

          ._moneys
            opacity: .7

          ._background_moneys
            position: absolute
            top: 0
            left: 0
            bottom: 0
            min-width: 2rem
            border-radius: $border_radius
            opacity: .2
            z-index: -1

          ._background_times
            position: absolute
            top: 0
            left: 0
            bottom: 0
            width: 1rem
            height: 100%
            border-radius: $border_radius 0 0 $border_radius
            z-index: -1

    ._buttons
      display: flex
      align-items: center
      justify-content: center
      padding: 1.5rem .5rem 0
      box-sizing: border-box

      ._group
        position: relative
        z-index: 1
        display: flex
        align-items: center
        justify-content: center
        padding: .5rem 1rem
        box-sizing: border-box
        border-radius: $border_radius
        margin-right: .5rem

        &:after
          content: ''
          position: absolute
          top: 0
          left: 0
          right: 0
          bottom: 0
          z-index: -1
          opacity: .3
          border-radius: $border_radius
          @include single_shadow_color

        ._icon
          display: flex
          align-items: center
          justify-content: center
          color: $color_sub_1
          opacity: .3

        .btn
          margin-left: 1rem

          &.__main
            color: $color_main
            font-weight: 600

            &:hover
              color: $color_main

        &:last-child
          margin-right: 0

// .block_liveliner x
