<div class="block_list" data-id="{{id}}" data-sort="{{sort}}">
  <div class="_list_head">
    <div class="_list_head_title">
      {{title}}
    </div>

    <div class="_list_head_actions">
      <div class="block_buttons _list_head_actions_show __end">
        <button type="button" class="btn __clear __list_edit" name="button">
          <i class="fa-solid fa-pen"></i>
        </button>
      </div>
      <div class="block_buttons _list_head_actions_edit __end">
        <input type="text" class="input __list_title" name="title" value="{{title}}">
        <button type="button" class="btn __clear __list_del" name="button">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="btn __clear __list_sort">
          <i class="fa-solid fa-arrows-up-down"></i>
        </div>
        <button type="button" class="btn __clear __list_editing" name="button">
          <i class="fa-solid fa-check"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="_list_elems">
  </div>
</div>
