<div class="block_list" data-id="{{id}}">
  <div class="_list_head">
    <div class="_list_head_title">
      {{title}}
    </div>

    <div class="_list_head_actions">
      <div class="block_buttons _list_head_actions_show __end">
        <button type="button" class="btn __clear __list_edit" name="button">
          <i class="fa-solid fa-pen"></i>
        </button>
      </div>
      <div class="block_buttons _list_head_actions_edit __end">
        <button type="button" class="btn __clear __list_del" name="button">
          <i class="fa-solid fa-xmark"></i>
        </button>
        <button type="button" class="btn __clear __list_sort" name="button">
          <i class="fa-solid fa-arrows-up-down"></i>
        </button>
        <button type="button" class="btn __clear __list_editing" name="button">
          <i class="fa-solid fa-check"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="_list_elems">
  </div>

  <div class="_list_elems_actions">
    <div class="block_buttons __end">
      <button type="button" class="btn __clear __elem_add" name="button">
        <i class="fa-solid fa-circle-plus"></i>
      </button>
    </div>
  </div>
</div>
